src/*.exe
src/kenzcoin
src/kenzcoind
src/test_kenzcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.kenzcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
kenzcoin-qt
kenzcoin-Qt.app

# Unit-tests
Makefile.test
kenzcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
